
body{
    background-color: #FFFFFF;
    max-width: 1230px;
    font-family:Roboto;
    text-decoration: none;
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;

}
ul{
    list-style: none;
}
nav {
    display:flex;
    flex-wrap:wrap-reverse;
    align-content:stretch;

    }
  
.section-team-card-super p{ 
    color: #757575;
    font-size: 16px;
    line-height:1.17 ;
    font-weight: 400;
    text-decoration: none;
  letter-spacing: 3%;

}

 

.section-team-card-super{
    background-color:#F5F4FA ;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width: 1600px;
   
    margin-top :186px; ;
    margin-left:215px ;
    margin-right: 215px;
    margin-bottom:94px ;
    justify-content: space-around;
    align-items: flex-start;
   
    align-content: center;
    
}

    

    .container-portfolio-two{
        display: flex;
        flex-direction:row-reverse;
        height: 80px;
        justify-content:flex-end;
    }
    
    .page-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
       background-color:#FFFFFF ;
      }
      .team-card-one{
          color: #212121;
          font-size: 16px;
          line-height:1.17 ;
          font-weight: 500;
          text-decoration: none;
        letter-spacing: 3%;}

          .logo-header-two{
            color: #212121 ;
            font-size: 26px;
            line-height:1.17 ;
            font-weight: 700;
            font-family:Raleway,sans-serif ;
            text-decoration: none;
        }
        

        nav 
        {display: inline-block;
   
        vertical-align: bottom;

        }
      .logo-first{
          color:#2196F3;
          font-size: 26px;
          line-height:1.17 ;
          font-weight: 700;
          font-family:Raleway,sans-serif ;
          text-decoration: none; }
      
          .logo-header{
        color:#FFFFFF ;
        font-size: 26px;
        line-height:1.17 ;
        font-weight: 700;
        font-family:Raleway,sans-serif ;
        text-decoration: none;
}

    .team-card-two:hover{
        color:dodgerblue;
        
    }
    .team-card-two:focus{
        color:dodgerblue;
        
    }
    .logo-header-two:hover{
        color:dodgerblue;
        
    }
    .logo-header-two:focus{
        color:dodgerblue;}
        
        .e-mail:hover{
            color:dodgerblue;
            
        }
        .e-mail:focus{
            color:dodgerblue;}
            
           

            
    
    
    
   
    .non-stop{
        display: flex;
        height: 80px;
        flex-direction: row;
        flex-wrap:nowrap;
        align-items: flex-start;
        justify-content: space-around;
        }
       
      

        
                .e-mail{
                    color:#757575;
                    font-size: 14px;
                    line-height:1.17 ;
                    font-weight: 500;
                    text-decoration: none;
                   }
                   .maximum-size {
                    color: rgb(255,255,255,0.6);
                    font-size: 14px;
                    line-height:1.71 ;
                    font-weight: 400;
                    text-decoration: none;
                    letter-spacing: 3%;
                    
                   }
  




.street-one
{ color:#FFFFFF;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 3%;
}

.item
{display: inline-block;
    vertical-align: bottom;

}



.team-card-two {
    
    color: #212121;
    font-size: 14px;
    line-height:1.17 ;
    font-weight: 500;
    letter-spacing: 2%;
    text-decoration: none;
}
    .logo-first-two{
        color:#2196F3;
        font-size: 26px;
        line-height:1.17 ;
        font-weight: 700;
        font-family:Raleway,serif ;
        text-decoration: none;}
        footer{
            background-color: #2F303A;
        }
     
        button{
            display: inline-block;
            
            background-color:#2196f3;
            color: #FFFFFF;
            font-size: 16px;
    line-height:1.87 ;
    font-weight: 700;
    letter-spacing: 6%;
    height: 50px;
    border: transparent;
    padding:10px 32px ;
    text-decoration:none;
    text-align: center;
border-radius: 4px;


}



  
 
    

    .twenty-two-section{
        box-sizing: border-box;
       
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
        margin-bottom: 94px;
       color: #FFFFFF;
       background-color:#3a3a3d;
       text-align: center;
    padding-top:200px ;
padding-bottom:200px ;
 width: 1230px;
}
      
       .decid-my-win{
           color: #FFFFFF;
 
 font-size: 44px;
          line-height:1.17 ;
          font-weight: 900;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 6%;
         margin-top: 200px ;
         margin-bottom: 30px;
          
          



    }
 
   
        
    
    
    
    .section-team-twenty-one{

        
        padding-top: 94px;
  
    padding-top:  186px;
   padding-right: 215px;
   padding-bottom:  94px;
   padding-left:  215px;
   
       
    }



    



.section-attention-first{
    margin: 94px,215px,94px,215px;
}



.contacts-two{
    margin: top 111px; ;
    margin: right 1154px; ;
    margin: bottom 60px; ;
    margin: left 215px; ;
}

.container-normal{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;


}
ul .item{
    color: #212121;
    font-size: 14px;
          line-height:1.17 ;
          font-weight: 500;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 2%;
          padding-right: 30px;
}
li .team-card-one{
    color: #212121;
    font-size: 14px;
          line-height:1.17 ;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
          
         
}

.item p{
    color: #757575;
    font-size: 14px;
          line-height:1.71 ;
          font-weight: 400;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
}
li{
    list-style: none;
}
.section-our-com {
    color: #212121;
    font-size: 36px;
          line-height:1.17 ;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
          padding: 0px 612px 50px 612px;

}

.button-two{
    color: #212121;
    font-size: 16px;
          line-height:1.62 ;
          font-weight: 500;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
          background-color:#F5F4FA;

          
}

ul .time-class{
    color: #212121;
    font-size: 18px;
          line-height:2.0;
          font-weight: 700;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 6%;
          text-decoration: none;
          }
.web-site{
    color: #757575;
    font-size: 16px;
          line-height:1.87;
          font-weight: 400;
          font-family: Roboto,sans-serif;
          text-decoration: none; 
          letter-spacing: 3%;
        text-decoration: none;

}
.team-card-one-section{
    box-sizing: border-box;
    margin-top: 94px;
}
.our-work{
    margin-top: 94px;
}
.woman-and-man{
    margin-top: 94px;
    margin-bottom: 0px;
    
    
}
.container-footer{
    margin-top: 0px;
}
.decid-my-win{
    padding-top: 200px;
    padding-bottom: 280px;
    
}
.container{
    margin-top:0px ;
    margin-bottom:0px ;
    padding-top:24p ;
    padding-bottom:25px;
    height: 80px;
}
.box-one{
    padding: 94px 215px 94px 215px;
}
.item-super{
    padding: 0px 30px 0px 215px;

}

.twenty-two-section{
    margin: 94px 215px 94px 215px;
}









        